{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}
{% block body %}
<!-- Navbar -->
<nav class="navbar navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand">KANBAN</a>
    <aside>
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addlist">
        Add List
      </button>
      <a href="{{url_for('summary')}}" class="btn btn-light">
        Summary
      </a>
      <a href="{{url_for('logout')}}" class="btn btn-light">
        Logout
      </a>
    </aside>
  </div>
</nav>

{% if lists|length < 1 %}
  <h3 class="alert alert-primary mt-4 w-50 mx-auto text-center">Add a list to get started.</h3>
{% endif %}

<main class="container-fluid row row-cols-1 row-cols-md-4 g-1 mt-4 px-5 py-2">
  {% for list in lists %}
  {% if list[1] == userid|int %}
  <section class="col">
    <div class="mx-3 fs-3">
      <span class="fw-bold">{{list[2]}}</span>
      <span>#{{list[0]}}</span>
      <span class="float-end">
        <i data-feather="plus" style="width: 18px" data-bs-toggle="modal" data-bs-target="#addcard{{list[0]}}"></i>
        <i data-feather="edit-2" style="width: 18px" data-bs-toggle="modal" data-bs-target="#editlist{{list[0]}}"></i>
        <i data-feather="trash" style="width: 18px" data-bs-toggle="modal" data-bs-target="#deletelist{{list[0]}}"></i>
      </span>
    </div>
    <section class="list-group p-2">
      {% for card in cards %}
      {% if card[1] == list[0] %}
      <aside class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">
            {{card[2]}} #{{card[0]}}
            <span class="float-end">
              <i data-feather="edit-2" style="width: 18px" data-bs-toggle="modal" data-bs-target="#editcard{{card[0]}}"></i>
              <i data-feather="trash" style="width: 18px" data-bs-toggle="modal" data-bs-target="#deletecard{{card[0]}}"></i>
            </span>
          </h5>
          <p class="card-text">{{card[3]}}</p>
          <form action="{{url_for('movecard', id=card[0])}}" method="POST">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="lid" onchange="javascript:this.form.submit()">
              {% for list in lists %}
              {% if list[0] == card[1] %}
              <option value="{{list[0]}}" selected>{{list[2]}}</option>
              {% else %}
              <option value="{{list[0]}}">{{list[2]}}</option>
              {% endif %}
              {% endfor %}
            </select>
          </form>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
          <span>{{card[4]}}</span>
          {% if card[5] == 0 %}
          <a href="{{url_for('completed', id=card[0], value=1)}}" class="btn btn-outline-secondary btn-sm">
            Mark Completed
          </a>
          {% else %}
          <a href="{{url_for('completed', id=card[0], value=0)}}" class="btn btn-outline-success btn-sm float-end">
            Completed
          </a>
          {% endif %}
        </div>
      </aside>

      <!-- Edit Card Modal -->
      <section class="modal fade" id="editcard{{card[0]}}" tabindex="-1" aria-labelledby="editcardLabel" aria-hidden="true">
        <section class="modal-dialog modal-dialog-centered">
          <form class="modal-content" action="{{url_for('editcard', id=card[0])}}" method="POST">
            <div class="modal-header">
              <h5 class="modal-title" id="editcardLabel">Edit Card</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="cardTitle" class="form-label">
                  Card Title
                </label>
                <input type="text" class="form-control"  id="cardTitle" aria-describedby="cardTitle" name="title" value="{{card[2]}}">
              </div>
              <div class="mb-3">
                <label for="cardContent" class="form-label">
                  Card Content
                </label>
                <input type="text" class="form-control" id="cardContent" aria-describedby="cardContent" name="content" value="{{card[3]}}">
              </div>
              <div class="mb-3">
                <label for="deadline" class="form-label">
                  Deadline
                </label>
                <input type="datetime-local" class="form-control" id="deadline" aria-describedby="deadline" name="deadline" value={{card[4]}}>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </section>
      </section>

      <!-- Delete Card Modal -->
      <section class="modal fade" id="deletecard{{card[0]}}" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
        <section class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteLabel">Delete</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this card?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <a href="{{url_for('deletecard', id=card[0])}}" class="btn btn-danger">
                Delete
              </a>
            </div>
          </div>
        </section>
      </section>
      {% endif %}
      {% endfor %}
    </section>
  </section>

  <!-- Add Card Modal -->
  <section class="modal fade" id="addcard{{list[0]}}" tabindex="-1" aria-labelledby="addcardLabel" aria-hidden="true">
    <section class="modal-dialog modal-dialog-centered">
      <form class="modal-content" action="{{url_for('addcard', lid=list[0])}}" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="addcardLabel">Add Card</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="cardTitle" class="form-label">
              Card Title
            </label>
            <input type="text" class="form-control" id="cardTitle" aria-describedby="cardTitle" name="title">
          </div>
          <div class="mb-3">
            <label for="cardContent" class="form-label">
              Card Content
            </label>
            <input type="text" class="form-control" id="cardContent" aria-describedby="cardContent" name="content">
          </div>
          <div class="mb-3">
            <label for="deadline" class="form-label">
              Deadline
            </label>
            <input type="datetime-local" class="form-control" id="deadline" aria-describedby="deadline" name="deadline" min="2022-08-28T14:06">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </section>
  </section>

  <!-- Edit List Modal -->
  <section class="modal fade" id="editlist{{list[0]}}" tabindex="-1" aria-labelledby="editlistLabel" aria-hidden="true">
    <section class="modal-dialog modal-dialog-centered">
      <form class="modal-content" action="{{url_for('editlist', id=list[0])}}" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="editlistLabel">Edit List</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="listTitle" class="form-label">
            List Title
          </label>
          <input type="text" class="form-control" id="listTitle" aria-describedby="listTitle" name="title" value="{{list[2]}}">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </section>
  </section>

  <!-- Delete List Modal -->
  <section class="modal fade" id="deletelist{{list[0]}}" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
    <section class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteLabel">Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this list?
          All the cards in this list will also be deleted.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="{{url_for('deletelist', id=list[0])}}" class="btn btn-danger">
            Delete
          </a>
        </div>
      </div>
    </section>
  </section>
  {% endif %}
  {% endfor %}

  <!-- Add List Modal -->
  <section class="modal fade" id="addlist" tabindex="-1" aria-labelledby="addlistLabel" aria-hidden="true">
    <section class="modal-dialog modal-dialog-centered">
      <form class="modal-content" action="{{url_for('addlist', uid=userid)}}" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="addlistLabel">Add List</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="listTitle" class="form-label">
            List Title
          </label>
          <input type="text" class="form-control" id="listTitle" aria-describedby="listTitle" name="title">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </section>
  </section>
</main>
{% endblock %}